.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction:row;
  align-items: center;
  border: solid 2px black;
  padding: 2px;
  margin: 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  text-align: start;
}

.licenseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  height: max-content;
}

img{
  padding: 5px;
  border-radius: 5%;
  height: 240px;
  width: 300px;
}

button{
  padding: 10px;
  margin: 5px;
  border-radius: 10%;
  color: white;
}

.rgb{
  width: 100%;
  height: 40px;
}

.creditCards{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.creditCard{
  text-align: center;
  width: 360px;
  height: 240px;
}